  <div class="form-group has-validation" [classList]="config.className">
    <label [ngClass]="{'required':config.isRequired}">{{ config.labelName }}</label>
    <ng-select class="custom-select"
               handelError
               [disabled]="config.disable ?? false"
               [customErrorMessage]="config.errorItems?.errorMessage"
               (ngModelChange)="selectionChange(config,$event)"
               [bindLabel]="config.bindLabel"
               [bindValue]="config.bindId"
               [items]="returnArray(config) | async"
               [required]="config.isRequired"
               [name]="config.id+'_'+ItemIndex" [id]="config.id+'_'+ItemIndex"
               [(ngModel)]="bindItemField[config.bindItem]">
    </ng-select>

  </div>

