<div class="form-group has-validation" [classList]="config.className">
  <label [ngClass]="{'required':config.isRequired}">{{ config.labelName }}</label>
  <textarea [name]="config.id+'_'+ItemIndex!"
            handelError
            [placeholder]="config.placeholder?.(ItemIndex) ?? ''"
            [customErrorMessage]="config.errorItems?.errorMessage"
            (ngModelChange)="config.emitFormItems?.({bindItemField,$event})"
            [id]="config.id+'_'+ItemIndex"
            [pattern]="config.pattern"
            [disabled]="config.disable ?? false"
            [cols]="config.cols"
            [rows]="config.rows"
            [required]="config.isRequired"
            [maxlength]="config.maxLength ?? ''"
            [minlength]="config.minLength ?? ''"
            class="form-control"
            [(ngModel)]="bindItemField[config['bindItem']]"></textarea>

</div>
