<ng-container>
    <section class="row">
        @for(value of items;track value){
        @switch (value.inputType){
        @case (Types.INPUT_TYPE){
        <div class="form-group col-4">
            <label>{{value.labelName}}</label>
            <input type="text" class="form-control" [id]="value.id" [name]="value.name!"
                [(ngModel)]="bindItems[value.bindItem!]">
        </div>
        }
        @case(Types.SELECT_TYPE){
        <div class="form-group col-4">
            <label>{{value.labelName}}</label>
            <ng-select [required]="value.isRequired" class="form-control" [items]="returnArray(value)" bindLabel="name" bindValue="id"
                [name]="value.bindItem" [id]="value.id" [(ngModel)]="bindItems[value.bindItem!]">
            </ng-select>
        </div>
        }

        @case(Types.TEXTAREA_TYPE){
        <div class="form-group col-4">
            <label>{{value.labelName}}</label>
            <textarea [name]="value.name!" [id]="value.id" class="form-control"
                [(ngModel)]="bindItems[value.bindItem!]"></textarea>
        </div>
        }

        @case(Types.SWITCH_TYPE){
        <div class="col-4">
            <label for="">{{value.labelName}}</label>
            <switch-button [(ngModel)]="bindItems[value.bindItem!]" [isChecked]="bindItems[value.bindItem!]"
                [labelName]="value.labelName" [name]="value.bindItem" (emitValue)="bindItems[value.bindItem!] = $event">
            </switch-button>
        </div>
        }

        @case (Types.DATE_TYPE) {
        <div class="form-group col-4">
            <label for="">{{value.labelName}}</label>

            <ng-persian-datepicker dateFormat="YYYY-MM-DD HH:mm:ss">
                <input type="text" class="form-control" dateInitValue="true" [name]="value.name!" [id]="value.id"
                    [(ngModel)]="bindItems[value.bindItem!]" />
            </ng-persian-datepicker>
        </div>
        }

        @case (Types.FORM_GROUP) {
        <label for="">{{value.labelName}}</label>
        <app-form-items [items]="getFormGroup(value)" [bindItems]="bindItems[value.bindItem]"></app-form-items>
        }

        }
        }
    </section>

</ng-container>