<div class="card shadow-sm mx-5 my-5">
  <div class="card-body">
    <div class="container-fluid px-4">
      <div class="row">

        <form dir="rtl"
              [id]="formConfig.formId"
              class="d-flex flex-column needs-validation"
              (ngSubmit)="submitApiForm(Form)"
              [name]="formConfig.formId" #Form="ngForm">

          <app-form-items name="formItem" class="w-100"
                          [bindItems]="bindItems"
            [items]="formConfig.items">
          </app-form-items>

          <div class="container-fluid px-4 d-flex justify-start my-5 ">
            <button class="btn btn-primary" [disabled]="formConfig.isCheckFormValid ? Form.invalid : false" type="submit">save</button>
          </div>

        </form>
      </div>
    </div>


  </div>
</div>
