
  <div class="container-fluid px-4">
    <div class="row">

     <form dir="rtl" id="form" name="form" 
       action="" #Form="ngForm"
       (ngSubmit)="submitApiCall()"
       [classList]="formConfig?.classList">
    
        @for(value of formConfig.items;track value){
          @switch (value.inputType){
          @case (Types.INPUT_TYPE){
            <div class="form-group col-2">
              <label>{{value.name}}</label>
              <input type="text" class="form-control"
                     [id]="value.id"
                     [name]="value.name!"
                     [(ngModel)]="value.bindItem">
            </div>
          }
            @case(Types.SELECT_TYPE){
              <div class="form-group col-3 ">
                <label>{{value.name}}</label>
                <ng-select class="form-control" [items]="returnArray(value)"
                bindLabel="name"
                bindValue="id"
                [name]="value.bindItem"
                [id]="value.id"
                [name]="value.name!"
                [(ngModel)]="value.bindItem">
                </ng-select>
              </div>
            }
  
            @case(Types.TEXTAREA_TYPE){
              <div class="form-group col-3 ">
                <label>{{value.name}}</label>
                <textarea 
                 [name]="value.name!"
                 [id]="value.id" 
                 class="form-control"
                 [(ngModel)]="value.bindItem"
                 ></textarea>
              </div>
            }

            @case(Types.SWITCH_TYPE){
              <switch-button></switch-button>
            }
  
        }
        }
  
     </form>
    </div>
  </div>

  <div class="container-fluid px-4 d-flex justify-end my-5">
    <button form="form" class="btn btn-primary" type="submit">ذخیره</button>
  </div>

