<div class="card shadow-sm mx-5 my-5">
  <div class="card-body">
    <div class="container-fluid px-4">
      <div class="row">

        <form dir="rtl" id="form" name="form" action="" #Form="ngForm" (ngSubmit)="submitApiForm(Form)"
          [classList]="formConfig.classList">

          <app-form-items name="formItem"
            class="w-100" [bindItems]="bindItems"
                          [items]="formConfig.items">
          </app-form-items>
        </form>
      </div>
    </div>

    <div class="container-fluid px-4 d-flex justify-end my-5">
      <button form="form" class="btn btn-primary"
      [disabled]="Form.invalid" type="submit">ذخیره</button>
    </div>

  </div>
</div>
