<div [classList]="config.className">
  <div class="d-flex flex-column">
    @if (config.hasAddButton) {
      <div class='my-2'>
        <button class="btn btn-primary" type="button"
                (click)="addFormItem(config)">
          {{ config.addText }}
        </button>
      </div>
    }
    <div class="col-lg-12">
      @for (formArrayItem of config.formArrayFields; track i; let i = $index) {
        @if (getFormGroup(formArrayItem) && getFormGroup(formArrayItem).length &&
        bindItemField[config.bindItem] != null) {
          <div class="d-flex my-2 border justify-content-between border-radius-normal">
            <div class="col-lg-10 p-3">
              <app-form-items
                handelError
                ngDefaultControl
                id="{{formArrayItem.bindItem}}{{i}}"
                [ItemIndex]="i"
                [items]="getFormGroup(formArrayItem)"
                [bindItems]="bindItemField[config.bindItem][i]"></app-form-items>
            </div>

            @if (config.hasDeleteButton) {
              <div class="col-lg-1 my-2">
                             <span class="btn btn-outline-danger"
                                   (click)="deleteFormArrayItemHandler(config,formArrayItem,i)">
                             {{ config.removeText }}</span>
              </div>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
