<app-form [formConfig]="config">

</app-form>

<ng-template #customeStatusTempRef let-value="value">
    <div class="form-group col-3">
        <label>{{ value.labelName }}</label>
        <ng-select class="custom-select" 
            [items]="statuses | async" 
            bindLabel="name"  
            bindValue="id"
            [required]="value.isRequired" 
            [name]="value.bindItem"
            (ngModelChange)="changeStatus$.next($event)"
            [id]="value.id" 
            [(ngModel)]="value.defaultValue">
        </ng-select>
    </div>
</ng-template>

<ng-template #customeNationalTempRef let-value="value">
    <div class="form-group col-3">
        <label>{{ value.labelName }}</label>
        <input type="text" 
        class="form-control"
        [id]="value.id" 
        [name]="value.name"
        (ngModelChange)="changeNationalId$.next($event)"
        [(ngModel)]="value.defaultValue">
    </div>
</ng-template>