  <app-form [formConfig]="config"
            [tempRefs]="[{template:customStatusTempRef,id:'statusId'},{template:customNationalTempRef,id:'nationalId'}]">

  </app-form>
  <ng-template #customStatusTempRef let-value="value" let-bindItems="bindItems">
    <div class="form-group col-3">
      <label>{{ value.labelName }}</label>
      <ng-select class="custom-select"
                 [items]="statuses | async"
                 bindLabel="name"
                 bindValue="id"
                 [required]="value.isRequired"
                 [name]="value.bindItem"
                 (ngModelChange)="value.emitFormItems?.({bindItems,$event})"
                 [id]="value.id"
                 #statusIdRef="ngModel"
                 [(ngModel)]="bindItems[value?.bindItem]">
      </ng-select>
    </div>
  </ng-template>
    <ng-template #customNationalTempRef let-value="value" let-bindItems="bindItems">
    <div class="form-group col-3">
      <label>{{ value.labelName }}</label>
      <input type="text"
             class="form-control"
             [id]="value.id"
             [name]="value.name"
             #nationalIdRef="ngModel"
             (ngModelChange)="value.emitFormItems?.({bindItems,$event})"
             [(ngModel)]="bindItems[value?.bindItem]">
    </div>
  </ng-template>


