@if(_tableConfig()){


<div class="card mx-5">
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <!-- @for(_tableConfig()?.cell?.header){
                    
                    <th scope="col">#</th>
                } -->
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
              </tr>
               
            </tbody>
          </table>
    </div>
</div>

}